version: "3"
services:
  client:
    build: ./client
    ports:
      - "${APP_CLIENT_PORT}:${APP_CLIENT_PORT}"
    volumes:
      - client-data:/usr/src/app/
    depends_on:
      - server
  server:
    build: ./server
    environment:
      - API_HOST:${API_HOST}
      - APP_SERVER_PORT:${APP_SERVER_PORT}
    ports:
      - "8080:8080"
    volumes:
      - server-data:/usr/src/app
    depends_on:
      - mongodb
  mongodb:
    image: mongo
    container_name: mongodb
    volumes:
      - data-node:/data/db
    ports:
      - 27017:27017
volumes:
  server-data:
  client-data:
  data-node: